<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<body>
<h1>Welcome to MasterMind</h1>

<div style="color:darkgreen">
    Game rule: Try to guess a four-digit code using digits 0 through 7. You have 10 attempts.
</div>
<br>

<form th:action="@{/initiateGame}" method="post">
    <button type="submit">Start New Game</button>
</form>

<form th:action="@{/initiateMultiPlayerGame}" method="post">
    <div>Input number of players</div>
    <input name="playerCount" maxlength="1" pattern="\d{1}" required>
    <button type="submit">Start New Multi Player Game</button>
</form>

<div th:if="${hasGame}" style="margin-top:8px">
    <form th:action="@{/game}" method="get">
        <button type="submit">Resume Current Game</button>
    </form>
</div>

</body>
</html>